/*
LOGIN.PHP

SECCION FORM
*/
*{
     margin: 0;
     padding:0;
     box-sizing: border-box;
     font-family:Arial, Helvetica, sans-serif;

}
form {
     width: 470px;
     height: 280px;
     background: rgb(238, 236, 236);
     margin: auto;
     margin-top: 200px;
     box-shadow: 1px 4px 15px #000;
     padding: 20px 30px;
}

form h2{
     margin: 0;
     height: 40px;
     margin-bottom: 10px;
     text-align: center;
     font-size: 25px;
}

.form-input{
     width: 100%;
     border: 1px solid #e1e7e7;
     padding: 6px 10px;
     margin: 10px 0;
     border-radius: 4px;
}

.form-label{
     width: 100%;
     font-size: 14px;
}

.btn-enviar{
     width: 65px;
     height: 35px;
     font-size: 14px;
     background: rgb(87, 159, 177);
     color: white;
     border: none;
     border-radius: 4px;     
}

/*
INFO.PHP

SESSION MENU
*/


.menu {
     width: 100%;
     margin: 0 auto;
}

header {
     overflow: hidden ;
     background: #427BFF;
     margin:0 auto; 
     width: 85%;         
}

nav ul li {
     list-style: none;
     float: left;
     margin-left: 25px;     
     padding: 20px 0;     
}

nav ul li a {
     text-decoration: none;
     color:white;
     font-size: 12;
}

/*SECCION TABLA*/

#section-table-autenticacion, #section-table-datos-guardados {     
     width: 100%;
     margin: 50px 0;
}

.div-table-autUsuario, .div-table-datGuardados {
     margin: 0 auto;
     width: 85%;     
}

.tabla-autUsuarios, .tabla-datGuardados{
     width: 90%;
     text-align: left;
     border-collapse: collapse;
}


.tabla-autUsuarios th, td {     
    
     border: solid 1px rgb(223, 215, 215);
}

.thead-autUsuario {
     background: rgb(245, 243, 243);    
}

.informacion{
     padding: 20px;
     font-weight: bold;
}

.thead-autUsuario th  {     
     padding: 10px 80px ;
     font-weight: normal;
}

/*SECCION DATOS GUARDADOS*/
.datos{
     border: none;
}

.tabla-datGuardados th, td{
     border-bottom: solid 1px rgb(223, 215, 215);
     border-top: solid 1px rgb(223, 215, 215);
     padding: 10px;
}
.columna{
     font-weight: bold;
}




